.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lobster-two-regular {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
    max-width: 100%;
    background: linear-gradient(to bottom, #BF8E63, #3B2314 , #260D03 95%);
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    text-rendering: optimizeLegibility;
}

/* Cabeçalho + hgroup simples, pequeno e responsivo. flexbox + position para posicionar onde quero os elementos*/

header {
    background-image: url(/src/imagens/fundo\ header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

header hgroup#titulos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1px;
}

header hgroup#titulos h1{
    font-size: 4rem;
    color:  #F5ECD7;
    text-shadow: 3px 3px 3px black;
    white-space: nowrap; /*faz a palavra não quebrar*/
    font-family: "Lobster Two", sans-serif;
}

header hgroup#titulos p{
    font-size: 1.1rem;
    color:  #EDE0C4;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-shadow: 3px 3px 3px black;
    white-space: nowrap; /*faz a palavra não quebrar*/
    margin-left: 80px;
    margin-top: -13px;
}

header hgroup#titulos img {
    height: 100px;
    height: 100px;
    position: absolute;
    bottom: -24px;
    left: 500px;
}

/* menu principal: tentativa de ser moderno, usando flexbox, margem, gap, border radius, border, padding, altura, largura, cores. inclui ma animação suave de troca de cores ao passar o mouse*/

nav#menu-principal {
    display: flex;
    align-self: flex-end;
    padding-bottom: 10px;
    margin: 0;
    max-height: 100%;
}

nav ul#menu{
  display: flex;
  flex-direction: row;
  gap: 10px;
  border: 1px solid #A8294A;
  height: 50px;
  background-color: #260D03;
  border-radius: 40px;
  padding: 0 20px;
  box-shadow: 5px 7px 2px black;
}


nav ul#menu li{
    font-size: 1.2rem;
    list-style: none;
    border: 1px solid #A8294A;
    border-radius: 20px;
    background-color: #4B2C20;
    height: 30px;
    margin:  10px 5px;
    padding: 2px 10px;
    cursor: pointer;
    box-shadow: 5px 7px 2px black;
    transition: background-color 0.6s ease-in;
    font-family: "Inter",sans-serif;
    font-weight: 400;
}

nav ul#menu li:hover {
    background-color: #A8294A;
}

nav ul#menu a{
    text-decoration: none;
    cursor: pointer;
    color: #B9C4A6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    font-weight: 600;
    white-space: nowrap;
}

/* Conteúdo principal: Flexbox vertical e largura fixa para evitar barra de rolagem.
Definição de cores dos títulos e parágrafos, tamanhos de fonte, margem e cor de fundo com degradê para facilitar na mudança de cor do article*/

main#principl {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

main#principal h2 {
color: #FAF6EE;
font-size: 2.5rem;
text-align: center;
margin: 25px 20px -30px 0;
text-shadow: 1px 1px 1px black;
font-family: "Lora", serif;
font-weight: 700;

}

main#principal section div h2 {
    color: #FAF6EE;
    font-size: 2rem;
    margin-bottom: 15px;
    font-family: "Lora", serif;
    font-weight: 700;
    white-space: nowrap;
}

main#principal section div h3 {
    color:  #EDE0C4;
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-family: "Lora", serif;
    font-weight: 700;
}

main#principal section div p {
    color:  #F5ECD7;
    font-size: 1.2rem;
    margin-bottom: 15px; 
    text-align: center;
    font-family: "Inter",sans-serif;
    font-weight: 400;
}

/* Cores das sections */

section#bem-vindo {
    background-color: #727355;
}

section#nossos-diferenciais {
    background-color:  #3B2314; 
}

section#ambiente {
    background-color: #5C6B3A;
}

section#graos {
    background-color: #7A1A2E;
}

/* section divisoria: onde imagem e texto ficarão lado a lado, alternando de posição a cada seção ( estilo zig-zag )*/

section.divisoria {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 10px;
    flex: 1;
    box-shadow: 2px 2px 10px black, 2px -2px 10px black;
    max-width: 100%;
    border: 1px solid black;
}

div.divisoria-invertida, div.divisoria.txt {
    order: 1;
}

div.divisoria-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}


div.divisoria-img img{
    max-height: 45vh;
    height: auto;
    width: 100vh;
    image-resolution: inherit;
    image-rendering: optimizeQuality;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

section#graos div img {
    height: 300px;
    width: 250px;
    image-resolution: inherit;
    image-rendering: optimizeQuality;
}
div#leque {
    display:flex;
    flex: 1;
    position: relative;
}

/* div para controlar as seções, colocá-las na horizontal e dar espaçamento vertical*/

div#lado-a-lado {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px 0 50px 0;
}
 /* Cores das sections*/ 

section#localizacao {
    background-color: #3B4A2F;
}

section#endereco {
    background-color: #6B1F30;
}

section#horario {
    background-color: #2C1A0E;
    white-space: nowrap;
}

section#horario img {
    height: 350px;
    width: 450px;
}

/* SECTION-COLUNA: Estilo caixa na vertical, onde a metade de cima é texto e a metade de baixo é imagem.*/

section.coluna {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    box-shadow: 8px 7px 10px black, -8px -7px 10px black;
    flex: 0;
    border: 1px solid black;
}

div.coluna-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 50px;
}

div.coluna-img {
    display: flex;
    align-items:flex-end;
    justify-content: stretch;
}

div.coluna-img img {
    height: 350px;
    width: 300px;
    image-resolution: inherit;
    image-rendering: optimizeQuality;
}

div#iframe {
    display: flex;
    align-items: flex-end;
    justify-content: stretch;
}

/* Section-img: álbum curto de fotos utilizando flexbox para mostrar a loja + funcionários; fotos estilo polaroid com filtro envelhecido e animação ao passar o mouse,deixando-as preto e branco. */

div#mostrando-txt {
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 1px 1px 1px black;

}

div span.coracao {
    color:#8B0000;
    -webkit-text-stroke: .1px #660000;
}

div#mostrando-img {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 50px;
    gap: 20px;
}

figure.junta-txt-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 15px solid white;
    border-bottom: 10px solid white;
    background-color: white;
    padding: -10px;
    filter: sepia(0.3);
    position: relative;
}

figure.junta-txt-img:hover {
    filter: grayscale(100%);
}

div figure.junta-txt-img img {
    height: 500px;
    width: 380px;
}

figure.junta-txt-img figcaption {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}



/* Articule-depoimentos: layout lado a lado com espaços iguais (flexbox) e estilização com jogo de sombras.*/

article#card-depoimentos {
     display: flex;
     flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

article div#lado {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
article h2 {
    color: #FAF6EE;
    font-family: "Lora", serif;
    font-weight: 700;
}

article div.depoimentos-txt {
    flex: 1;
    padding: 20px;
    background-color: #D0E1B9;
    box-shadow: 5px 5px 10px  #fffdd0c0, -8px -8px 10px black;
    border-radius: 30px;
    margin: 50px;
    padding: 30px;
    position: relative;
}

article p {
    color: black;
    font-family: "Inter",sans-serif;
    font-weight: 400;
    padding: 10px;
}

article span.brilhante {
    color: #FFFF00;
    text-shadow: 0 -1px 10px #fffdd0c5, 0 0 10px #fffdd0c0;
    -webkit-text-stroke: 0.1px  #FABB05;
}

div span.estrela {
    color: #FABB05;
}

div span.depoimentos-nomes {
    font-size: 23px;
    font-weight: bold;
    position: absolute;
    bottom: 12px;
    right: 20px;
    white-space: nowrap;
}

/* FOOTER-RODAPÉ: FOOTER SIMPLES ORGANIZADO NA HORIZOTAL 3 EM CIMA E 3 EMBAIXO*/
footer#rodape {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
padding-top: 10px;
border-top: 2px dotted white;
}

footer h2 {
    font-size: 25pt;
    color: #F5ECD7;
    font-family: "Lora", serif;
    font-weight: 700;
}

footer p {
    font-size: 15pt;
    color: #EDE0C4;
    font-family: "Inter",sans-serif;
    font-weight: 400;
}

footer a {
    font-size: 15pt;
    color: #A8294A;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-family: "Inter",sans-serif;
    font-weight: 400;
}
 
/* Ajuste para igualar a altura com os outros */
footer div.informacoes span {
    display: inline-block;
    color: #3D5229;
    font-weight: bold;
    margin-bottom: 10px;
}

footer div.informacoes {
   margin: 50px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: center;
justify-content: center;
}
