@media (max-height: 500px){
  header {
    max-width: 100%;
    max-height: 100%;
  }

     header hgroup#titulos h1 {
        font-size: 35pt;
        margin-bottom: 5px;
    }

    header hgroup#titulos p {
        font-size: 13pt;
         margin-left: 35px;
         text-shadow: 1px 1px 1px black;
    }

    header hgroup#titulos img {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 9px;
    left: 340px;
}

}

